<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Blog{% endblock %}</title>
    {% load static %}  <!-- Cargar las etiquetas estáticas -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  <!-- Asegúrate de que la ruta sea correcta -->
</head>
<body>
    <header>
        <h1>Mi Blog</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'add_post' %}">Agregar Post</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Mi Blog</p>
    </footer>
</body>
</html>