<!-- blog/templates/blog/login.html -->

{% extends 'blog/base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
    <h2>Iniciar Sesión</h2>
    
    {% if user.is_authenticated %}
        <p>Ya has iniciado sesión como {{ user.username }}. <a href="{% url 'logout' %}">Cerrar sesión</a></p>
    {% else %}
        <form method="POST">
            {% csrf_token %}
            <label for="username">Nombre de usuario:</label>
            <input type="text" name="username" required>
            <label for="password">Contraseña:</label>
            <input type="password" name="password" required>
            <button type="submit">Iniciar Sesión</button>
        </form>
        
        {% if error %}
            <div class="error">
                <p>{{ error }}</p>
            </div>
        {% endif %}

        <a href="{% url 'register' %}">No tengo una cuenta. Registrarme</a>
    {% endif %}
{% endblock %}